__authors__ = "Adriano Henrique Cantão, Rafael Biagioni de Fázio"
__date__ = "12 Nov 2020"

# Google sheets to pandas to sheets
#### Importing from and updating to sheets

Importing libs

In [1]:
import gspread
from oauth2client.service_account import ServiceAccountCredentials
import pandas as pd
# import connectmongo
# import my_logger
# from datetime import datetime
# import time
# from send_mail import send_warning
# import settings

Selecting the access scope

In [2]:
scope = ['https://www.googleapis.com/auth/spreadsheets']

Authorizing the access to the spreadsheet

In [3]:
file_path = 'full_path_to/credentials.json'
creds = ServiceAccountCredentials.from_json_keyfile_name(filename=file_path, scopes=scope)
gc = gspread.authorize(creds)

Spreadsheet information

In [4]:
spread_id = 'change_by_spreadsheet_id'
PICOVID = gc.open_by_key(spread_id)
CITIES = PICOVID.worksheets()
CITIES[0]

Using the gspread with pandas

In [5]:
dataset = pd.DataFrame(CITIES[0].get_all_records())
dataset.tail()

,date,totalConfirmed,totalSuspect,totalDiscarded,totalNotified,totalDeath,totalCured,totalHospitalized,totalActive,epidemiologicalWeek,estimatedPopulation2019,estimatedPopulation2020,IBGECode,processed,cityName,state
201,2020-11-07,5929,3204,12534,21667,165,5713,15,51,45,121862,122497,3511102,TRUE,catanduva,sp
202,2020-11-09,5934,3165,12583,21682,166,5725,12,43,46,121862,122497,3511102,TRUE,catanduva,sp
203,2020-11-10,5942,3160,12648,21750,167,5735,14,40,46,121862,122497,3511102,TRUE,catanduva,sp
204,2020-11-11,5947,3174,12694,21815,167,5747,12,33,46,121862,122497,3511102,TRUE,catanduva,sp
205,2020-11-12,5954,3187,12739,21880,168,5755,11,31,46,121862,122497,3511102,,catanduva,sp

Updating the spreadsheet

In [6]:
#INSERT DF to database
#.......

#if success use the update bellow

#Total number of rows [including header] of the current worksheet
n_rows = len(CITIES[0].get_all_values())

#update all rows of column N (processed) to True
CITIES[0].update(f'N2:N{n_rows}', [[True]] * (n_rows-1))

{'spreadsheetId': '1Vn9orIaXtw-tahQnyyej_8oCpZy9TGww4iXKtaFkNCg',
 'updatedRange': 'Catanduva!N2:N207',
 'updatedRows': 206,
 'updatedColumns': 1,
 'updatedCells': 206}

Checking the updated column

In [7]:
dataset = pd.DataFrame(CITIES[0].get_all_records())
pd.DataFrame(dataset['processed'].tail())

    processed
201      TRUE
202      TRUE
203      TRUE
204      TRUE
205      TRUE

# this is an end, not 'the' end.